@import "tailwindcss";
@theme{
  --color-primary_red:#DB4444;
  --color-primary_green:#00FF66;
  --color-imgs_icons_bg:#F5F5F5;
  --font-poppins: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-titles:600;
  --font-weight-medium:500;

}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
@layers utilities  {
  .add_to_cart_btn{
    @apply bg-black text-white width-[270px] height-[41px] rounded-[4px] font-weight-medium text-[16]
  }

  
}

@layer components {
  .navbar{
    @apply sticky top-0 z-50 border-b border-gray-200 bg-white/90 backdrop-blur;
  }
  .navbar_content{
    @apply mx-auto flex max-w-7xl items-center justify-between px-6 py-4
  }
  .navbar_dropdown{
    @apply border-t border-gray-700 px-6 py-4 md:hidden
  }
  .navbar_dropdown_icon{
    @apply text-gray-600 hover:text-blue-900 
  }
}