@import "tailwindcss";
@theme{
  --color-primary_red:#DB4444;
  --color-primary_green:#00FF66;
  --color-imgs_icons_bg:#F5F5F5;
  --font-poppins: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-titles:600;
  --font-weight-medium:500;

}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
@layers utilities  {
  .add_to_cart_btn{
    @apply bg-black text-white w-[270px] h-[41px] rounded-sm  text-[16px]
  },
  .flash_sale_box{
    @apply text-white bg-[#DB4444] rounded-sm px-3 py-1
  },
  .category{
    @apply text-black rounded-sm w-[170px] h-[145px] bg-white hover:bg-[#DB4444] text-white 
  }
  .product_img{
    @apply w-[270px] h-[250px]
  }
  .red_btn{
    @apply text-white bg-[#DB4444] rounded-sm px-[48px] py-[16px]
  }
  .signup_btn{
    @apply rounded-sm px-[48px] py-[16px]
  }
  .whishlist_btn{
    @apply text-black bg-white border border-black rounded-sm px-[48px] py-[16px]
  }
  .product_cart{
    @apply w-[1170px] h-[102px] bg-[#ffffff] text-black
  },
  .billing_details{
    @apply w-[470px] h-[50px] text-black bg-[#F5F5F5]
  }
  .edit_profile{
    @apply  w-[330px] h-[50px] bg-[#F5F5F5] text-black
  }
  .edit_profile_password{
    @apply w-[710px] h-[50px] bg-[#F5F5F5] text-black
  }
  .about_boxes{
    @apply w-[270px] h-[230px] border border-[#F5F5F5] text-black font-[700px] font-bold hover:bg-[#DB4444] text-white border-[#DB4444]
  }
  .input_contact{
    @apply w-[235px] h-[50px] bg-[#F5F5F5] text-black
  }
  .product_imgs{
    @apply w-[170px] h-[138px] bg-[#F5F5F5]
  }
  .product_size{
    @apply w-[32px] h-[32px] border border-[#F5F5F5] text-black rounded-sm focus:bg-[#DB4444] text-white
  }
}

@layer components {
  .navbar{
    @apply sticky top-0 z-50 border-b border-gray-200 bg-white/90 backdrop-blur;
  }
  .navbar_content{
    @apply mx-auto flex max-w-7xl items-center justify-between px-6 py-4
  }
  .navbar_dropdown{
    @apply border-t border-gray-700 px-6 py-4 md:hidden
  }
  .navbar_dropdown_icon{
    @apply text-gray-600 hover:text-blue-900 
  }
}